<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>151376347096-qjcjjgfc6ird6vo9hraobvatt11ted3g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.151376347096-qjcjjgfc6ird6vo9hraobvatt11ted3g</string>
	<key>API_KEY</key>
	<string>AIzaSyDA-fBpiFbDy-9RGNhmaSPqmmXEyqZHjcg</string>
	<key>GCM_SENDER_ID</key>
	<string>151376347096</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>herbin.SnapApp</string>
	<key>PROJECT_ID</key>
	<string>snapapp-f31ac</string>
	<key>STORAGE_BUCKET</key>
	<string>snapapp-f31ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:151376347096:ios:711899e08eb18f49b67cad</string>
</dict>
</plist>